body {
  margin: 0;
  overflow: hidden;
  background-color: #222;
}

#game {
  width: 800px;
  height: 500px;
  background-color: #eee;
  position: relative;
  margin: 50px auto;
  border: 4px solid black;
}

#player {
  width: 40px;
  height: 40px;
  background-color: red;
  position: absolute;
  top: 100px;
  left: 100px;
}
#controls {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#controls button {
    width: 60px;
    height: 60px;
    font-size: 24px;
    margin: 5px;
    border-radius: 10px;
}
#controls {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

